<form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="header header-primary text-center">
            <ngb-alert type="danger"  [dismissible]="false" *ngIf="serverErrorMessages">
                    <div class="container">
                        <div class="alert-wrapper">
                            <button type="button" name="button" class="close" (click)="closeAlert(alert)">
                              <span aria-hidden="true">
                                  <i class="now-ui-icons ui-1_simple-remove"></i>
                              </span>
                            </button>
                            <div class="message">
                                <ng-container >
                                  <div class="alert-icon">
                                      <i class="now-ui-icons 'objects_support-17'"></i>
                                  </div>
                                </ng-container>
                                <strong> {{serverErrorMessages}}</strong>
                            </div>
                        </div>
                    </div>
                </ngb-alert> 
    </div>
   
    <div class="content">
      <div class="input-group form-group-no-border input-lg">
        <div class="input-group-prepend">
            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
        </div>
          <input type="text" class="form-control" placeholder="Email"  name="email" #email="ngModel" [(ngModel)]="model.email">
      </div>
      <div class="input-group form-group-no-border input-lg" >
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
        </div>
          <input type="password" placeholder="Password" class="form-control"  name="password" #password="ngModel" [(ngModel)]="model.password">
      </div>
    </div>
    <div class="footer text-center">
        <input type="submit" value="Sign In" class="btn btn-primary btn-round btn-lg btn-block">
    </div>
    <div class="pull-left">
        <h6>
            <a [routerLink]="['/register']" class="link">Create Account</a>
        </h6>
    </div>
   
</form>
